

<RadzenColumn Size="12" SizeMD="6" SizeLG="3">
    <RadzenMenu style="height: 100%;background-color: #28E1F6;">
        <a href="/home">
            <img src="logoSammi.png" style="margin-left: 10px; width: 50px; height: 50px" alt="Logo Sammi Games">
        </a>
        <div>
            <RadzenMenuItem Text="@userName" Icon="account_circle">
                <RadzenMenuItem Text="Jogos" Path="/home" Icon="videogame_asset"></RadzenMenuItem>
                <RadzenMenuItem Text="Pontos" Path="/Pontos" Icon="bar_chart"></RadzenMenuItem>
                <RadzenMenuItem Text="Quem somos" Path="/Sobre" Icon="account_circle"></RadzenMenuItem>
                <RadzenMenuItem Text="Sair" Click="@deslogar" Icon="logout"></RadzenMenuItem>
            </RadzenMenuItem>
        </div>
    </RadzenMenu>
</RadzenColumn>

@code {
    private string userName = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userName = await SessionStorage.GetItemAsync<string>("userName");
            StateHasChanged();
        }
    }

    public void deslogar()
    {
        NavigationManager.NavigateTo("/");
        AuthService.TriggerLoggedOut();
    }
}

